<img src="https://media.istockphoto.com/id/1634086519/photo/human-and-robot-hands-forming-a-heart-shape-together-ai-and-human-collaboration-concept.jpg?s=1024x1024&w=is&k=20&c=y-Hh5I7_kkPvympGEHh_aG9tc9_78YN3X-3dAoHxhVw=" width="320" height="240">
<h2>Welcome to Robo Advisor</h2>\
<form action="/joke_homework" method="get">
    <!-- When the 'Generate Joke' button is clicked, it is asked to process whatever action found in joke_homework.html -->
    <input type="submit" value="Generate Joke">
</form>
<form action="/prediction" method="post">
    <input type="submit" value="Prediction">
</form>
